# Node / Frontend
node_modules/
dist/
build/
.tmp/
.cache/
coverage/
# Angular
.angular/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# Editor
.vscode/
.idea/
# SO
.DS_Store
Thumbs.db
